<section class="horizontal-form">
  {{#accordion-list showExpandAll=false as | al expandFn |}}
    {{!-- This line shows the driver title which you don't have to change it --}}
    <div class="over-hr mb-20"><span>{{driverOptionsTitle}}</span></div>

    {{#accordion-list-item
      title=(t "nodeDriver.harvester.access.title")
      detail=(t "nodeDriver.harvester.access.detail")
      expandAll=expandAll
      expand=(action expandFn)
      expandOnInit=true
    }}
      <div class="row">
        <div class="col span-12">
          <div class="radio">
            <label>
              {{radio-button selection=isInternalMode value=true}}
              {{t "nodeDriver.harvester.internal"}}
            </label>
          </div>

          <div class="radio">
            <label>
              {{radio-button selection=isInternalMode value=false}}
              {{t "nodeDriver.harvester.external"}}
            </label>
          </div>
        </div>
      </div>

      {{#unless isInternalMode}}
        <div class="row">
          <div class="col span-6">
            <label class="acc-label">
              {{t "nodeDriver.harvester.host.label"}}{{field-required}}
            </label>
            {{input
              classNames="form-control"
              id="server-url"
              value=config.host
              placeholder=(t "nodeDriver.harvester.host.placeholder")
            }}
          </div>
          <div class="col span-6">
            <label class="acc-label">
              {{t "nodeDriver.harvester.port.label"}}{{field-required}}
            </label>
            {{input-integer
              min=1
              max=65535
              class="form-control"
              value=config.port
            }}
          </div>
        </div>
      {{/unless}}

      <div class="row">
        <div class="col span-6">
          <label class="acc-label">
            {{t "nodeDriver.harvester.username.label"}}{{field-required}}
          </label>
          {{input
            type="text"
            value=config.username
            classNames="form-control"
          }}
        </div>

        <div class="col span-6">
          <label class="acc-label">
            {{t "nodeDriver.harvester.password.label"}}{{field-required}}
          </label>
          {{input
            type="password"
            value=config.password
            classNames="form-control"
          }}
        </div>
      </div>

    {{/accordion-list-item}}

    {{#accordion-list-item
      title=(t "nodeDriver.harvester.instance.title")
      detail=(t "nodeDriver.harvester.instance.detail")
      expandAll=expandAll
      expand=(action expandFn)
      expandOnInit=true
    }}
      <div class="row">
        <div class="col span-6">
          <label class="acc-label">
            {{t "nodeDriver.harvester.cpuCount.label"}}{{field-required}}
          </label>
          <div class="input-group">
            {{input-integer
              min=1
              max=32
              value=config.cpuCount
              classNames="form-control"
            }}
            <div class="input-group-addon bg-default">
              {{t "nodeDriver.harvester.cpuCount.unit" cores=config.cpuCount}}
            </div>
          </div>
        </div>

        <div class="col span-6">
          <label class="acc-label">
            {{t "nodeDriver.harvester.memorySize.label"}}{{field-required}}
          </label>
          <div class="input-group">
            {{input-integer
              min=1
              value=config.memorySize
              classNames="form-control"
            }}
            <div class="input-group-addon bg-default">
              {{t "nodeDriver.harvester.memorySize.unit"}}
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col span-6">
          <label class="acc-label">
            {{t "nodeDriver.harvester.diskSize.label"}}{{field-required}}
          </label>
          <div class="input-group">
            {{input-integer
              min=1
              value=config.diskSize
              classNames="form-control"
            }}
            <div class="input-group-addon bg-default">
              {{t "nodeDriver.harvester.diskSize.unit"}}
            </div>
          </div>
        </div>

        <div class="col span-6">
          <label class="acc-label">
            {{t "nodeDriver.harvester.diskBus.label"}}{{field-required}}
          </label>
          <NewSelect
            @class="form-control"
            @useContentForDefaultValue={{true}}
            @content={{busContent}}
            @value={{config.diskBus}}
          />
        </div>
      </div>

      <div class="row">
        {{#if isInternalMode}}
          <div class="col span-6">
            <label class="acc-label">
              {{t "nodeDriver.harvester.imageName.label"}}{{field-required}}
            </label>
            <SearchableSelect
              @class="form-control"
              @content={{imageContent}}
              @value={{config.imageName}}
            />
          </div>

          <div class="col span-6">
            <label class="acc-label">
              {{t "nodeDriver.harvester.networkName.label"}}{{field-required}}
            </label>
            <SearchableSelect
              @class="form-control"
              @content={{networkContent}}
              @value={{config.networkName}}
            />
          </div>

       {{else}}
          <div class="col span-6">
            <label class="acc-label">
              {{t "nodeDriver.harvester.imageName.label"}}{{field-required}}
            </label>
            {{input
              type="text"
              value=config.imageName
              classNames="form-control"
            }}
          </div>

          <div class="col span-6">
            <label class="acc-label">
              {{t "nodeDriver.harvester.networkName.label"}}{{field-required}}
            </label>
            {{input
              type="text"
              value=config.networkName
              classNames="form-control"
            }}
          </div>
        {{/if}}
      </div>

      <div class="row">
        <div class="col span-6">
          <label class="acc-label">
            {{t "nodeDriver.harvester.sshUser.label"}}{{field-required}}
          </label>
          {{input
            type="text"
            value=config.sshUser
            classNames="form-control"
          }}
        </div>
      </div>
    {{/accordion-list-item}}
    
  {{/accordion-list}}

  <div class="over-hr">
    <span>
      {{templateOptionsTitle}}
    </span>
  </div>

  {{form-name-description
    model=model
    nameRequired=true
    rowClass="row mb-10"
  }}

  {{form-user-labels
    initialLabels=labelResource.labels
    setLabels=(action "setLabels")
    expand=(action expandFn)
  }}

  {{form-node-taints
    model=model
    expand=(action expandFn)
  }}

  {{form-engine-opts
    machine=model
    showEngineUrl=showEngineUrl
  }}

  {{top-errors errors=errors}}

  {{save-cancel save=(action "save") cancel=(action "cancel") editing=editing }}
</section>